services:
  pg:
    image: postgres:16-alpine
    env_file:
      - .env.local
    restart: always
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 30s
    volumes:
      - ./docker/init-db:/docker-entrypoint-initdb.d
      - scheduler_pg_data:/var/lib/postgresql/data
  scheduler-service:
    env_file:
      - .env.production
    build:
      context: .
    ports:
      - "3304:3304"
    restart: unless-stopped
    depends_on:
      pg:
        condition: service_healthy


volumes:
  scheduler_pg_data: